.column, .columns   { padding: 15px; background: #c9a066; border-radius: 15px; opacity:0.8; }    
.container .two.columns { background: #5a3926; opacity:1.0; }   
.container .fifteen.columns   { background: #5a3926; height: 400px; background-image:url('../images/logo264.png'); background-repeat:no-repeat; background-position:bottom left; }
.container .two-thirds.column { background-repeat:no-repeat;  background-position:top right; opacity:1.0; }
p { text-shadow: black 0.1em 0.1em 0.2em }
strong { text-shadow: white 0.1em 0.1em 0.2em }
h2, h3 { text-shadow: black 0.1em 0.1em 0.2em }
body	{	background: url('../images/servicio.jpg') no-repeat center center fixed; 
		  -webkit-background-size: cover;
		  -moz-background-size: cover;
		  -o-background-size: cover;
		  background-size: cover; } 



