.column, .columns   { padding: 15px; background: #91311c; border-radius: 15px; opacity:0.8; }    
.container .two.columns { background: #fae5c0; }   
.container .fifteen.columns   { background: #0d786f; height: 360px; background-image:url('../images/logo264.png'); background-repeat:no-repeat; background-position:bottom left; }
.container .two-thirds.column { background-repeat:no-repeat;  background-position:top right; opacity:1.0; }
p { text-shadow: black 0.1em 0.1em 0.2em }
strong { text-shadow: white 0.1em 0.1em 0.2em }
h2, h3 { text-shadow: black 0.1em 0.1em 0.2em }



